.div1 {
  font-size: 2rem;
  font-weight: 700;
  size: 40px;
  margin-top: 40px;
}
.devider {
  background-color: green;
  border: 1px solid green;
  width: auto;
  margin-bottom: 30px;
}

.icons {
  margin: 0 10%;
}

.imgContainer {
  display: inline-block;
  width: 85px;
  height: 85px;
  text-align: center;
  border: 1px;
  margin: 10px;
}

.imgInnerContainer {
  display: inline-block;
  background-color: white;
  border-radius: 4px;
}
.imgInnerContainer:hover {
  /* background-color: rgb(242, 236, 236); */
  color: lightgray;
  opacity: 0.6;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.23);
}
